@model Tuple<List<Detail>,List<Product>,List<SpecialOffer>>
@{
    ViewBag.Title = "Home Page";
}    

@{

    //IEnumerable<Detail> details = ViewData["Details"] as IEnumerable<Detail>;
   // IEnumerable<Product> products = ViewData["Products"] as IEnumerable<Product>;
    //IEnumerable<SpecialOffer> specialOffers = ViewData["SpecialOffers"] as IEnumerable<SpecialOffer>;
}

<meta name="viewport" content="width=device-width, initial-scale=1">


<body>


    <div class="row" >
            @foreach(Detail item in Model.Item1)
            {
                <div class="column"> 
                    <h2>@item.name</h2>
                    <p>@item.content</p>
                    <button>@item.buttonName</button>
                </div>
            }
        </div> 

</body>

<div class="row" >
        @foreach (SpecialOffer item in Model.Item3)
        {
        <div class="column">
                <h2>@item.type</h2>
                <p>@item.offer</p>
            </div>
        }
    </div>


<div class="row">
        @foreach (Product item in Model.Item2)
        {
        <div class="column">
                <h2>@item.name</h2>
                <p>@item.picture</p>
            </div>
        }
    </div>



@*
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>    

    <div class="w3-row-padding">
        <div class="w3-third" asp-action="Index" asp-controller="Details">            
         <h2>New Products</h2>           
            <p name="New Products"></p>
            <button>New products</button>
        </div>

        <div class="w3-third">
            <h2>Field Events</h2>            
            <p name="Field Events"></p>
            <button>View Events</button>
        </div>

        <div class="w3-third">
            <h2>Latest News</h2>            
            <p name="Latest News"></p>
            <button>Read Article</button>
        </div>
        <div class="w3-third">
            <h2>Gallery</h2>            
            <p name="Gallery"></p>
            <button>View Gallery</button>
        </div>
    </div>

</body>
*@
